@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Diego Castellanos<br />
        Guatemala, Guatemala<br />
        <abbr title="Telefono">Telefóno:</abbr>
        (502) 5704 3280
    </address>

    <address>
        <strong>Correo:</strong>   <a href="mailto:Support@example.com">dtunchez@gmail.com</a><br />        
    </address>
</main>