USE [promtest]
GO
ALTER TABLE [dbo].[tbl_plazas_empleados] DROP CONSTRAINT [FK_tbl_plazas_empleados_tbl_plazas_empleados]
GO
/****** Object:  Table [dbo].[tbl_plazas_empleados]    Script Date: 27/07/2025 10:52:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_plazas_empleados]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_plazas_empleados]
GO
/****** Object:  Table [dbo].[tbl_plazas_empleados]    Script Date: 27/07/2025 10:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_plazas_empleados](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[Puesto] [varchar](250) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[codigo_jefe] [int] NULL,
 CONSTRAINT [PK_tbl_plazas_empleados] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_plazas_empleados] ON 

INSERT [dbo].[tbl_plazas_empleados] ([CODIGO], [Puesto], [Nombre], [codigo_jefe]) VALUES (1, N'Gerente', N'Pedro', NULL)
INSERT [dbo].[tbl_plazas_empleados] ([CODIGO], [Puesto], [Nombre], [codigo_jefe]) VALUES (2, N'Sub Gerente', N'Pablo', 1)
INSERT [dbo].[tbl_plazas_empleados] ([CODIGO], [Puesto], [Nombre], [codigo_jefe]) VALUES (3, N'Supervisor', N'Juan', 2)
SET IDENTITY_INSERT [dbo].[tbl_plazas_empleados] OFF
GO
ALTER TABLE [dbo].[tbl_plazas_empleados]  WITH CHECK ADD  CONSTRAINT [FK_tbl_plazas_empleados_tbl_plazas_empleados] FOREIGN KEY([codigo_jefe])
REFERENCES [dbo].[tbl_plazas_empleados] ([CODIGO])
GO
ALTER TABLE [dbo].[tbl_plazas_empleados] CHECK CONSTRAINT [FK_tbl_plazas_empleados_tbl_plazas_empleados]
GO
